@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-7xl;
    @apply tracking-tight;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
    @apply tracking-tight;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
    @apply tracking-tight;
  }
  h4 {
    @apply text-base;
    @apply font-mono;
    @apply tracking-wider;
    @apply uppercase;
  }
  h5 {
    @apply text-base;
    @apply font-bold;
    @apply tracking-tight;
  }
  a.anchor {
      display: block;
      position: relative;
      top: -208px;
      visibility: hidden;
  }
}
